:root {
    --border-gradient: linear-gradient(106.4deg, rgb(255, 104, 192) 11.1%, rgb(104, 84, 249) 81.3%);
    --background-light: rgb(229, 253, 253);
}

.hero {
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--background-light);
}

.hero__p {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0;
}

.photo {
    max-width: 40%;
}

h1 {
    background: #FFA100;
    background: linear-gradient(to right, #FFA100 0%, #FF00AA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    font-size: 58px;
    font-weight: bold;
}

.h2-hero {
    font-weight: bold;
    font-size: 21px;
}

.tech-stack {
    background-color: var(--background-light);
    font-family: 'Poppins', sans-serif;
    padding: 70px 0;
    text-align: center;
}

.h3__tech-stack,
.h3__projects {
    font-weight: bold;
    font-size: 48px;
}

.p__tech-stack,
.p__projects {
    font-size: 22px;
}

.icons-container,
.projects__container {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.projects {
    background-color: var(--background-light);
    font-family: 'Poppins', sans-serif;
    padding: 50px 0;
    text-align: center;
}

.project-card {
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 20px rgb(182, 182, 182);
}

.project-card img {
    border-radius: 15px;
}

.project-name {
    padding: 10px;
    font-weight: bold;
}

.about-project {
    font-size: 14px;
    text-align: justify;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    color: rgba(0, 0, 0, 0.918);
    font-weight: bold;
}

@media(max-width:991px) {
    .hero__p {
        font-size: 38px;
    }
    .p__tech-stack,
    .p__projects {
        font-size: 22px;
    }
    .header {
        font-size: 45px;
        margin-bottom: 0;
    }
    .hero {
        padding-bottom: 15px;
    }
    .photo {
        width: 60%;
        margin: 0 auto;
    }
    .h2-hero {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 17px;
        margin-top: 0;
        line-height: 32px;
    }
    .tech-stack {
        padding-top: 90px;
    }
    .p__tech-stack,
    .p__projects {
        font-size: 27px;
    }
    .h3__tech-stack,
    .h3__projects {
        font-weight: bold;
        font-size: 38px;
    }
    .projects {
        padding-top: 40px;
    }
    .projects__container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .project-card {
        padding: 15px;
        border-radius: 15px;
        margin: 25px;
        box-shadow: 5px 5px 20px rgb(182, 182, 182);
    }
    .about-project {
        font-size: 18px;
    }
    .links {
        font-size: 18px;
    }
}

@media(max-width:601px) {
    .hero__p {
        font-size: 38px;
    }
    .p__tech-stack,
    .p__projects {
        font-size: 18px;
    }
    .header {
        font-size: 45px;
        margin-bottom: 0;
    }
    .hero {
        padding-bottom: 5px;
    }
    .h2-hero {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 19px;
        margin-top: 0;
        line-height: 32px;
    }
    .tech-stack {
        padding-top: 30px;
    }
    .p__tech-stack,
    .p__projects {
        font-size: 17px;
    }
    .h3__tech-stack,
    .h3__projects {
        font-weight: bold;
        font-size: 38px;
    }
    .projects {
        padding-top: 10px;
    }
    .icons-container,
    .projects__container {
        margin-top: 40px;
    }
    .projects__container {
        display: block;
        width: 9 100%;
        margin: 0 auto;
    }
    .project-card {
        padding: 15px;
        border-radius: 15px;
        margin: 25px;
        box-shadow: 5px 5px 20px rgb(182, 182, 182);
    }
    .about-project {
        font-size: 13px;
    }
    .links {
        font-size: 13px;
    }
}