:root {
    --background-light: rgb(229, 253, 253);
    --text-color: #42446E;
}

body {
    margin: 0;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding-right: 30px;
    background-color: var(--background-light);
}

.header_nav li {
    display: inline;
    list-style: none;
    position: relative;
    bottom: 15px;
}

.navigation-link {
    color: #42446E;
    font-family: sans-serif;
    ;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    padding-right: 45px;
}

.hero {
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--background-light);
}

.hero__p {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0;
    color: var(--text-color);
}

.photo {
    max-width: 40%;
}

.hero h1 {
    background: #FFA100;
    background: linear-gradient(to right, #FFA100 0%, #FF00AA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    font-size: 58px;
    font-weight: bold;
}

.h2-hero {
    font-weight: bold;
    font-size: 21px;
    color: var(--text-color);
}

.tech-stack {
    background-color: var(--background-light);
    font-family: 'Poppins', sans-serif;
    padding: 70px 0;
    text-align: center;
    color: var(--text-color);
}

.sections-header {
    font-weight: bold;
    font-size: 48px;
    color: var(--text-color);
}

.sections-subheader {
    font-size: 22px;
}

.icons-container,
.projects__container {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.projects {
    background-color: var(--background-light);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    padding: 50px 0;
    text-align: center;
}

.project-card {
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 20px rgb(182, 182, 182);
}

.project-card img {
    border-radius: 15px;
}

.project-name {
    padding: 10px;
    font-weight: bold;
    color: var(--text-color);
}

.about-project {
    font-size: 14px;
    text-align: justify;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    color: var(--text-color);
    font-weight: bold;
}

.footer {
    background-color: var(--background-light);
    font-family: 'Poppins', sans-serif;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.ul_footer {
    display: flex;
    justify-content: end;
}

.ul_footer li {
    display: inline;
    list-style: none;
}

.footer_links {
    color: var(--text-color);
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
    opacity: 0.9;
}

@media(max-width:991px) {
    .hero__p {
        font-size: 38px;
    }
    .header {
        font-size: 45px;
        margin-bottom: 0;
    }
    .hero {
        padding-bottom: 15px;
    }
    .photo {
        width: 60%;
        margin: 0 auto;
    }
    .h2-hero {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 17px;
        margin-top: 0;
        line-height: 32px;
    }
    .tech-stack {
        padding-top: 90px;
    }
    .sections-subheader {
        font-size: 27px;
    }
    .sections-header {
        font-weight: bold;
        font-size: 38px;
    }
    .projects {
        padding-top: 40px;
    }
    .projects__container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .project-card {
        padding: 15px;
        border-radius: 15px;
        margin: 25px;
        box-shadow: 5px 5px 20px rgb(182, 182, 182);
    }
    .about-project {
        font-size: 18px;
    }
    .links {
        font-size: 18px;
    }
}

@media(max-width:601px) {
    .hero__p {
        font-size: 38px;
    }
    .header {
        font-size: 45px;
        margin-bottom: 0;
    }
    .hero {
        padding-bottom: 5px;
    }
    .h2-hero {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 19px;
        margin-top: 0;
        line-height: 32px;
    }
    .tech-stack {
        padding-top: 30px;
    }
    .sections-subheader {
        font-size: 17px;
    }
    .sections-header {
        font-weight: bold;
        font-size: 38px;
    }
    .projects {
        padding-top: 10px;
    }
    .icons-container,
    .projects__container {
        margin-top: 40px;
    }
    .projects__container {
        display: block;
        width: 9 100%;
        margin: 0 auto;
    }
    .project-card {
        padding: 15px;
        border-radius: 15px;
        margin: 25px;
        box-shadow: 5px 5px 20px rgb(182, 182, 182);
    }
    .about-project {
        font-size: 13px;
    }
    .links {
        font-size: 13px;
    }
    .ul_footer {
        justify-content: center;
    }
    .footer_links {
        font-size: 13px;
        margin-left: 10px;
        text-decoration: none;
        opacity: 0.9;
    }
}

.about-section {
    padding-left: 30px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: var(--background-light);
    margin: 0;
}

.about-section h1 {
    font-size: 58px;
    font-weight: 600;
    color: var(--text-color);
}

.about-content {
    max-width: 60%;
    color: var(--text-color);
    padding-bottom: 40px;
    padding-top: 40px;
}

.about-section h3 {
    padding-top: 15px;
    font-size: 28px;
    opacity: 0.9;
    color: rgb(4, 88, 184);
}

.courses-section {
    list-style: none;
    padding-left: 0px;
    padding-top: 20px;
}

.about-li {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

@media(max-width:991px) {
    .about-section h1 {
        font-size: 58px;
        text-align: center;
    }
    .about-section h2 {
        font-size: 38px;
        text-align: center;
    }
    .about-content {
        max-width: 100%;
    }
    .about-section h3 {
        padding-top: 30px;
        font-size: 22px;
        opacity: 0.9;
        color: rgb(4, 88, 184);
    }
    .courses-section {
        list-style: none;
        padding-left: 0px;
    }
    .about-li {
        display: flex;
        justify-content: space-between;
    }
    li p {
        font-size: 15px;
    }
    hr {
        margin-top: 50px;
    }
}

@media(max-width:601px) {
    .about-section {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0;
    }
    .about-section h1 {
        font-size: 48px;
        text-align: center;
    }
    .about-section h2 {
        font-size: 38px;
        text-align: center;
    }
    .about-content {
        font-size: 13px;
        text-align: justify;
    }
    .about-section h3 {
        padding-top: 30px;
        font-size: 22px;
        opacity: 0.9;
        color: rgb(4, 88, 184);
    }
    .courses-section {
        list-style: none;
        padding-left: 0px;
    }
    .about-li {
        display: flex;
        justify-content: space-between;
    }
    li p {
        font-size: 10px;
    }
    hr {
        margin-top: 50px;
    }
}